/*
 * button style
 */
.buttonCommon() {
  .inline-block();
  *width:auto;
  *overflow:visible;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  *line-height: @baseLineHeight;
  border: 0;
  padding: .4em 1.2em;

  // Active state
  &:active {
    outline: 0;
  }

  // selected state
  &.btn-selected {
    cursor: default;
    outline: 0;
  }

  // Disabled state
  &.btn-disabled {
    cursor: default;
    outline: 0;
    .opacity(65);
  }
}
.button(@textColor: #fff, @bgColor) {
  color: @textColor;
  background-color: @bgColor;

  &:hover {
    background-color: darken(@bgColor, 5%);
  }

  // active state
  // selected state
  &:active, &.btn-selected {
    background-color: darken(@bgColor, 8%);
  }

  // Disabled state
  &.btn-disabled, &.btn-disabled:hover, &.btn-disabled:active {
    background-color: @bgColor;
  }

}
// Button
// ------------------------------------
.btn {
  .buttonCommon();
  .button(#333, #ededed);
}

// ie6 ie7 hack
input.btn, button.btn {
  *line-height: @baseLineHeight - .4em;
}

a.btn {
  margin: 0px;
  text-decoration: none;
  &:hover{
    text-decoration: none;
  }
}

// Button Sizes
// --------------------------------------------------
// Larger
.btn-larger {
  font-size: @baseFontSize + 8px;
}

// Large
.btn-large {
  font-size: @baseFontSize + 4px;
}

// Small
.btn-small {
  font-size: @baseFontSize - 2px;
}

// Smaller
.btn-smaller {
  font-size: @baseFontSize - 4px;
}
//
//.btn-primary {
//  .button(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight, @btnPrimaryBackgroundHighlight, @btnPrimaryTextColor);
//}
//
//// Warning appears are orange
//.btn-warn {
//  .button(@btnWarnBackground, @btnWarnBackgroundHighlight, @btnWarnBackgroundHighlight, @btnWarnTextColor);
//}
//
//// Danger and error appear as red
//.btn-important, .btn-error {
//  .button(@btnErrorBackground, @btnErrorBackgroundHighlight, @btnErrorBackgroundHighlight, @btnErrorTextColor);
//}
//
//// Success appears as green
//.btn-success {
//  .button(@btnSuccessBackground, @btnSuccessBackgroundHighlight, @btnSuccessBackgroundHighlight, @btnSuccessTextColor);
//}
//
//// Info appears as a neutral blue
//.btn-info {
//  .button(@btnInfoBackground, @btnInfoBackgroundHighlight, @btnInfoBackgroundHighlight, @btnInfoTextColor);
//}
//
//// Inverse appears as dark gray
//.btn-inverse {
//  .button(@btnInverseBackground, @btnInverseBackgroundHighlight, @btnInverseBackgroundHighlight, @btnInverseTextColor);
//}
//
//// Block button
//// -------------------------
//.btn-block {
//  display: block;
//  padding-left: 0;
//  padding-right: 0;
//}
//
//// ie6 btn-disabled
//.btn-disabled,.btn-disabled:hover,.btn-disabled:active{
//  _filter: ~"alpha(opacity=65)";
//  _background-color: mix(@btnBackground, @btnBackgroundHighlight, 50%);
//}
//// theme
//.btn-primary-disabled,.btn-primary-disabled:hover,.btn-primary-disabled:active{
//  _background-color: mix(@btnPrimaryBackground, @btnPrimaryBackgroundHighlight, 50%);
//}
//.btn-warn-disabled,.btn-warn-disabled:hover,.btn-warn-disabled:active{
//  _background-color: mix(@btnWarnBackground, @btnWarnBackgroundHighlight, 50%);
//}
//.btn-important-disabled,.btn-important-disabled:hover,.btn-important-disabled:active,
//.btn-error-disabled,.btn-error-disabled:hover,.btn-error-disabled:active {
//  _background-color: mix(@btnErrorBackground, @btnErrorBackgroundHighlight, 50%);
//}
//.btn-success-disabled,.btn-success-disabled:hover,.btn-success-disabled:active{
//  _background-color: mix(@btnSuccessBackground, @btnSuccessBackgroundHighlight, 50%);
//}
//.btn-info-disabled,.btn-info-disabled:hover,.btn-info-disabled:active{
//  _background-color: mix(@btnInfoBackground, @btnInfoBackgroundHighlight, 50%);
//}
//.btn-inverse-disabled,.btn-inverse-disabled:hover,.btn-inverse-disabled:active{
//  _background-color: mix(@btnInverseBackground, @btnInverseBackgroundHighlight, 50%);
//}
//
//// ie6 btn-selected
//.btn-selected, .btn-selected:hover{
//  _background-color: darken(@btnBackgroundHighlight, 12%);
//}
//// theme
//.btn-primary-selected, .btn-primary-selected:hover{
//  _background-color: darken(@btnPrimaryBackgroundHighlight, 12%);
//}
//.btn-warn-selected, .btn-warn-selected:hover{
//  _background-color: darken(@btnWarnBackgroundHighlight, 12%);
//}
//.btn-important-selected, .btn-important-selected:hover,
//.btn-error-selected, .btn-error-selected:hover{
//  _background-color: darken(@btnErrorBackgroundHighlight, 12%);
//}
//.btn-success-selected, .btn-success-selected:hover{
//  _background-color: darken(@btnSuccessBackgroundHighlight, 12%);
//}
//.btn-primary-selected, .btn-primary-selected:hover{
//  _background-color: darken(@btnPrimaryBackgroundHighlight, 12%);
//}
//.btn-inverse-selected, .btn-inverse-selected:hover{
//  _background-color: darken(@btnInverseBackgroundHighlight, 12%);
//}
