/*
 * breadcrumb
 * 使用：ul,ol
 * 其中a标签使用系统全局设置样式
 */
ul.breadcrumb, ol.breadcrumb {
  list-style: none;
  font-size: @breadcrumbFontSize;

  li {
    .inline-block();
  }
  .crumb-divider{
    padding: 0 4px;
  }
  .crumb-active{
    color: @breadcrumbActiveColor;
  }
}