/**
 * dropdown
 * dropdown menu icon 为了兼容ie6,不能通过css的方式（:before）指定，需要使用icon值得方式
 */
.dropdown {
  position: relative;
  *zoom: 1;
}

.dropdown-open {
  .dropdown-menu, .dropdown-panel {
    display: block;
  }
}

.dropdown-menu, .dropdown-panel {
  position: absolute;
  top: 100%;
  z-index: @zindexDropdown;
  display: none; // none by default, but block on "open" of the menu
  float: left;

  border: 1px solid @dropdownBorder;
  min-width: @dropdownMinWidth;
}

.dropdown-menu {
  padding: 5px 0;
  margin: 0; // override default ul
  list-style: none;
  font-size: @baseFontSize;
  line-height: @baseLineHeight;
  background-color: @dropdownBg;

  li {
    *display: inline; // hack ie67 block
  }

  li a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    color: @dropdownItemColor;
    white-space: nowrap; // prevent links from randomly breaking onto new lines

    &:hover,
    &:focus {
      text-decoration: none;
      color: @dropdownItemHoverColor;
      background-color: @dropdownItemHoverBg;
    }
  }
}

// Aligns the dropdown menu to right
.dropdown-right {
  right: 0;
  left: auto;
}

// 浅色theme
.dropdown-menu-inverse {
  li a {
    &:hover,
    &:focus {
      color: @dropdownItemColor;
      background-color: @dropdownItemInverseHoverBg;
    }
  }
}

.dropdown-menu-divider i{
  // `i` hack ie 67 display:inline and width:100%
  .nav-divider(@dropdownDividerBg);
}

.dropdown-menu-header {
  display: block;
  padding: 3px 20px;
  .strong();
  color: lighten(@dropdownItemColor, 10%)
}

// has icon
.dropdown-menu-icon {
  li a, .dropdown-menu-header {
    padding: 3px 10px;
  }
}

.dropdown-menu-disabled {
  a{
    cursor: default;
    color: @dropdownItemDisabledColor !important;

    &:hover,
    &:focus {
      color: @dropdownItemDisabledColor !important;
      background-color: transparent !important;
    }
  }
}