/**
 * progress-bar
 */
.progress {
  overflow: hidden;
  height: @baseLineHeight;
  background-color: @progressBg;
}
.progress .bar {
  display: block;
  float: left;
  width: 0%;
  height: 100%;
  color: @progressBarColor;
  font-size: .9em;
  text-align: center;
  background-color: @progressBarBg;
}

// success
.progress .bar-success, .progress-success .bar {
  background-color: @progressBarSuccessBg;
}
// info
.progress .bar-info, .progress-info .bar {
  background-color: @progressBarInfoBg;
}
// warn
.progress .bar-warn, .progress-warn .bar {
  background-color: @progressBarWarnBg;
}
// error
.progress .bar-error, .progress-error .bar {
  background-color: @progressBarErrorBg;
}