// BASE
// ---------------------------------------------------
@baseFontFamily: "\5FAE\8F6F\96C5\9ED1",tahoma,arial,"Hiragino Sans GB","\5b8b\4f53";
@baseFontSize: 12px;
@baseLineHeight: 1.5em;
@baseLineHeightNum: 1.5;

@bodyBackground: @white;
@bodyTextColor: @grayDark;

@headFontFamily: inherit; // empty to use BS default, @baseFontFamily
@headFontWeight: 600; // instead of browser default, bold
@headTextColor: inherit; // empty to use BS default, @bodyTextColor

// text color
@textColor: @bodyTextColor;
@textPrimaryColor: #006dbc;
@textInverseColor: #444;
@textSuccessColor: #468847;
@textInfoColor: #3a87ad;
@textWarnColor: #c09853;
@textErrorColor: #b94a48;

// background color
@bgColor: #fff;
@bgPrimaryColor: #e5f4ff;
@bgInverseColor: #f3f3f3;
@bgSuccessColor: #dff0d8;
@bgInfoColor: #d9edf7;
@bgWarnColor: #fcf8e3;
@bgErrorColor: #f2dede;

// border color
@borderColor: #ddd;
@borderPrimaryColor: @textPrimaryColor;
@borderInverseColor: #eee;
@borderSuccessColor: @textSuccessColor;
@borderInfoColor: @textInfoColor;
@borderWarnColor: @textWarnColor;
@borderErrorColor: @textErrorColor;

// grays color
@black: #000;
@grayDarker: #222;
@grayDark: #333;
@gray: #666;
@grayLight: #999;
@grayLighter: #eee;
@white: #fff;

// component common setting
@componentPadding: 4px;

// UNIT
// ---------------------------------------------------
// link
@linkColor: #00c;
@linkPrimaryColor: #c00;
@linkInverseColor: @bodyTextColor;

// table
@tableBackgroundStriped: #f9f9f9; // for striped
@tableBackgroundHover: #f5f5f5; // for hover
@tablePadding: 8px; // table cell padding
@tableCaptionFontSize: 1.1em; // table Caption Font Size

// button
@btnTextColor: @grayDark;
@btnLightTextColor: @white;

@btnBgColor: #ededed;
@btnBgPrimaryColor: @textPrimaryColor;
@btnBgInverseColor: @textInverseColor;
@btnBgSuccessColor: @textSuccessColor;
@btnBgInfoColor: @textInfoColor;
@btnBgWarnColor: @textWarnColor;
@btnBgErrorColor: @textErrorColor;

@btnHoverDark: 6%;
@btnActiveDark: 10%;
@btnBorderDark: 12%;

// form
@baseFormSpace: .6em; // =small normal=2x large=3x
@formBorderColor: #ccc;
@formFocusBorderColor: #e59700;

// icon font
@iconFontPath: "../fonts/";
@iconFontName: "li";

// LAYOUT
// ---------------------------------------------------
@largeGutterWidth: 30px;
@gutterWidth: 20px;
@smallGutterWidth: 10px;

// GRID
@gridColumns: 12;

// 960(950) grid
// @gridColumnWidth: 70px;
// @gridGutterWidth: @smallGutterWidth;

// 1200(1180) grid
@gridColumnWidth: 80px;
@gridGutterWidth: @gutterWidth;
@gridRowWidth: (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * (@gridColumns - 1));
@gridRowFullWidth: (@gridColumns * @gridColumnWidth) + (@gridGutterWidth * @gridColumns);

// Fluid grid
@fluidGridColumns: @gridColumns;
@fluidGridColumnWidth:  percentage(1/@fluidGridColumns);

// UI
// ---------------------------------------------------
// common
@uiTitleSize: 1.2em;

// breadcrumb
@breadcrumbFontSize: @baseFontSize;
@breadcrumbActiveColor: #666;

// Progress bars
@progressBg: #f5f5f5;
@progressBarColor: @white;
@progressBarBg: @textPrimaryColor;
@progressBarSuccessBg: @textSuccessColor;
@progressBarInfoBg: @textInfoColor;
@progressBarWarnBg: @textWarnColor;
@progressBarErrorBg: @textErrorColor;

// Callout
@calloutPadding: 15px 20px 15px 15px;
@calloutBg: lighten(@bgInfoColor, 6%);
@calloutSucessBg: lighten(@bgSuccessColor, 5%);
@calloutInfoBg: lighten(@bgInfoColor, 6%);
@calloutWarnBg: lighten(@bgWarnColor, 2%);
@calloutErrorBg: lighten(@bgErrorColor, 6%);

// Notify
@notifyPadding: @componentPadding * 2;
@notifySuccessBg:     @bgSuccessColor;
@notifySuccessText:   @textSuccessColor;
@notifyInfoBg:        @bgInfoColor;
@notifyInfoText:      @textInfoColor;
@notifyWarnBg:     @bgWarnColor;
@notifyWarnText:   @textWarnColor;
@notifyErrorBg:      @bgErrorColor;
@notifyErrorText:    @textErrorColor;

// List
@listPadding: 10px 15px;
@listActiveBg: lighten(@textPrimaryColor, 2%);
@listActiveSuccessBg: lighten(@textSuccessColor, 10%);
@listActiveInfoBg: lighten(@textInfoColor, 10%);
@listActiveWarnBg: lighten(@textWarnColor, 10%);
@listActiveErrorBg: lighten(@textErrorColor, 10%);

// panel
@panelHeadPadding: @componentPadding * 1.5;
@panelBodyPadding: @componentPadding * 3;
@panelBorderColor: #ddd;
@panelHeadBgColor: #f3f3f3;

// paging
@pagingPadding: .3em;
@pagingDisabledColor: #ccc;
@pagingInfoColor: #666;
@pagingHoverColor: #ff7c0a;
@pagingCurrBg: #fff9f4;